html,
body {
    height: 100%;
}

body {
    background: getColour(light-grey-2);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}
.h1{
    margin: 40px 0;
}

footer {
    padding: 20px;
    background-color: getColour(secondary);
    a{
        text-decoration: none;
        color: #000;
    }
}

.wrapper {
    flex: 1 0 auto;
}